/* --------- Global style */

body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #E3E3E3;
    text-align: center;
    font-size: 18px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: "Raleway" sans-serif;
    color: #445361;
    text-align: center;
    font-size: 3em;
    font-weight: bold;

}

/* ----------- Layout */
.container {
    max-width: 900px;
    margin: 0 auto;
}

/* ----------- Logo */
header {
    text-align: center;
    font-size: larger;
    color: #445361;
    background-color: none;
}

/* --------- Main */
main {
    display: flex;
    min-height: 60vh;
    margin-bottom: 40px;
}

#greeting {
    background-color: #998070;
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 50%;
}

#start-game {
    background-color: #E6CFC0;
    background-size: cover;
    background-position: center;
    padding: 130px 40px 40px 40px;
    width: 50%;
}

.start-game-img {
    margin-top: 20px;
}

h2 {
    font-size: 2.5em;
    padding-right: 5px;
}

h3 {
    font-size: 1.2em;
    color: #E3E3E3;
    text-align: center;
}

.create-username {
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
    font-size: 20px;

}

.form-input[type=text]:focus {
    width: 350px;
    text-align: left;
    border: 3px solid #555;

}

.lets-go {
    border-radius: 12px;
    padding: 13px;
    border: none;
    background-color: #3F9499;
    color: #FFF1E7;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-top: 6px;
}

/* ----------- Quiz Page */
ul li {
    list-style: none;
}

#images {
    background-color: rgb(0, 100, 0, 0.5);
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 50%;
    display: flex;
}
#image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#options {
    background-color: rgb(65, 105, 225, 0.5);
    background-size: cover;
    background-position: center;
    padding: 80px;
    padding-left: 40px;
    width: 50%;
   
}

.next {
    border-radius: 12px;
    padding: 13px;
    border: none;
    background-color: #3d8741;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

/* ----------- Score Page */
#congrats {
    background-color: rgb(0, 100, 0, 0.5);
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 50%;
}

#result {
    background-color: rgb(65, 105, 225, 0.5);
    background-size: cover;
    background-position: center;
    padding: 40px;
    width: 50%;
}

#chart {
    background-color: rgb(65, 105, 225, 0.5);
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 50px;
}

.try-again {
    border-radius: 12px;
    padding: 13px;
    border: none;
    background-color: #3d8741;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
}

.send-this {
    border-radius: 12px;
    padding: 13px;
    border: none;
    background-color: #3d8741;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
footer {
    color:  #445361;
}